* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 450px;
  background-color: white;
  border-radius: 10px;
  padding: 30px ;
}

.card p{
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}
span{
  font-weight: 600;
  color: royalblue;
}

.outer{
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: gray;
    margin: 0px 0px;
}

.inner{
    width: 0%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-color: green;
    transition: width 0.3s ease;
}

h2{
    font-weight: 100;
}

Button{
    font-weight: 600;
    margin-top: 10px;
    padding: 12px 25px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

Button:active{
    transform: scale(0.98);
}

.content{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}