* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 70px 0.75fr 0.5fr 0.5fr;
  grid-template-areas: "nav nav nav"
  "section div1 div1"
  "section div2 div3"
  "footer div2 div3";
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

nav{
    padding: 10px;
    background-color: white;
    grid-area: nav;
    display: flex;
}
.links{
    display: flex;
    margin:0px 300px;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.connect{
    margin-left: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 12px;
    color: black;
    text-decoration: none;
    gap: 5px;
}
#log{
    font-size: 11px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
nav button{
    height: 35px;
    width: 100px;
    display: flex;
    border-radius: 50px;
    padding: 2px 2px 2px 10px;
    background-color: #3D3D4E;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 100;
}
nav button span{
    height: 90%;
    width: 30%;
    justify-content: flex-end;
    border-radius: 50%;
    background-color: #BBC2FF;
    padding-top: 3px;
    color: black
}
section{ 
    display: flex; 
    padding: 20px 20px 0px 20px;
    background-color: rgb(255, 255, 255);
    grid-area: section; 
    flex-direction: column;
}
section span img{ 
    border-radius: 20px; 
    height: 30px; 
    width: 80px; 
    margin-right: 10px; 
    object-fit: cover; 
    background-position: center; 
    margin-bottom: 6px; 
}
.text{ 
    position: relative;
    top: -15px;
    right: -15px;
    display: inline-flex;
    white-space: nowrap ; 
    height: 30px; 
    width: 120px;
    border: 1px black solid; 
    background-color: transparent; 
    font-size: 9px; 
    border-radius: 50px; 
    padding: 10px; 
}
.text i{
    position: relative;
    margin-bottom: 100px;
    font-size: 12px; 
    font-weight: 100; 
} 
section h2{ 
    justify-content: center; 
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 200; 
    font-size: 60px; 
    /* width: 90%;  */
} 
section button{ 
    height: 25px;
    width: 100px;
    display: flex;
    border-radius: 50px;
    /* padding: 2px 2px 2px 0px; */
    background-color: #3D3D4E;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    white-space: nowrap;
    font-weight: 100;
}
section .connect{
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 0px;
    gap: 20px;
}
section .connect a{
    margin-bottom: 8px;
    color: black;
    font-size: 9px;
}
.div1{
    background-color: green;
    grid-area: div1;
}
.div2{
    background-color: blue;
    grid-area: div2;
}
.div3{
    background-color: purple;
    grid-area: div3;
}
footer{
    background-color: pink;
    grid-area: footer;
}