* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: "google";
    src: url(./googlesans.ttf);
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "google", sans-serif;
}

.head{
    width: 100%;
    top: 0;
    background: linear-gradient(45deg,#047CFD,#823FF2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    height: 50px;
    position: fixed;
    p{
        font-weight: bold;
    }  
}

.nav{
    .nav-links{
        display: none;
    }
    width: 100%;
    position: fixed;
    background-color: white;
    top: 50px;
    display: flex;
    padding: 20px 24px;
    justify-content: space-between;
    i{
        display: flex;
        align-items: center;  
        width: 40px;
        height: 40px;
    }
}

.hero{
    margin-top: 130px;
    width: 100%;
    padding: 70px 0px;
    background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
    .content{
        margin: 0px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            width: 80%;
        }
        h1{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            font-size: 46px;
            padding-top: 40px;
            text-align: center
        }
        p{
            text-align: center;
            font-size: 34px;
            margin: 112px 0px 40px 0px;
        }
    }
    
   
}

@media (min-width: 1240px) {
    .nav{
        ul{
                list-style: none;
            }
        .nav-links{
            display: flex;
            gap: 30px;
            align-items: center;
            a{
                text-decoration: none;
                color: black;
                font-weight: 500;
            }
        }
        .ri-menu-line{
            display: none;
        }
    }
    .hero .content-row {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .hero{
        width: 100%;
    }

    .hero .content{
        padding: 0px 100px;
        width: 100%;
    }

    .hero .content img{
        width: 50%;
    }
    .hero .content h1{
        font-weight:800 ;
        line-height: 75px;
        padding-left: 50px;
        width: 40%;
        font-size: 70px;
        text-align: left;
    }

    .hero .content p{
        width: 69%;
        font-weight: 400;
    }
}