@use "../../shared/styles/global.scss" as *;

.playlist-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden; 

  h3 {
    padding: 20px;
    margin: 0;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $bg-panel;
  }

  // Scrollable container
  overflow-y: auto;

  &::-webkit-scrollbar { display: none; }
  

  .playlist-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 16px;
    margin: 4px 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;

    img { width: 44px; height: 44px; border-radius: 6px; object-fit: cover; }

    .title { font-size: 14px; font-weight: 600; margin: 0; }
    .artist {
  font-size: 10px;
  color: $accent;
  font-weight: 500;
  white-space: nowrap;        // keep text on one line
  overflow: hidden;           // hide overflow
  text-overflow: ellipsis;    // show "..." when too long
  display: inline-block;      // needed for transform animations
  max-width: 120px;           // adjust to your layout
  vertical-align: middle;
}

    &:hover { background: rgba(255, 255, 255, 0.03); }
    &.active { 
        background: rgba($accent, 0.1); 
        .title { color: $accent; }
    }
  }
}