* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#box{
    height: 300px;
    width: 300px;
    background-color: rgb(40, 74, 103);
    border: 5px solid white;
    border-radius: 5px;
}

button{
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
    background-color: aquamarine;
    font-size: large;
    transition: all 0.5 ease;
}

button:active{
    scale: 0.95;
}