* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 0.5fr 0.5fr;
  grid-template-areas: "Header Header Header"
                       "Section Section Section"
                       "Left bottom-up Right"
                       "Left bottom-down Right";
    gap: 10px;
    padding: 10px;
    
}

header{
    border-radius: 10px;
    background-color: lightblue;
    grid-area: Header;
}
section{
    border-radius: 10px;
    background-color: lightgreen;
    grid-area: Section;
}
.section2{
    border-radius: 10px;
    background-color: rgb(175, 188, 32);
    grid-area: Section2;
}
.div-left{
    border-radius: 10px;
    background-color: lightcoral;
    grid-area: Left;
}
.div-right{
    border-radius: 10px;
    background-color: lightpink;
    grid-area: Right;
}
.bottom-up{
    border-radius: 10px;
    background-color: lightyellow;
    grid-area: bottom-up;
}
.bottom-down{
    border-radius: 10px;
    background-color: lightgray;
    grid-area: bottom-down;
}
.circle{
    background-color: aliceblue;
    border-radius: 100%;
}