* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.card div{
  position: relative;
  overflow: hidden;
}

img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

h1{
  font-weight: 400;
  font-family: monospace;
  color: #333;
}

.card .anim{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  opacity: 0;
  color: red;
  transform: translate(-50%,-50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}

.content{
  width: 90% ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like2{
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: red;
  transition: color 0.3s;
  display: none;
}

.like{
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

