* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #1c1d1e;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    z-index: 9;
}

button:active{
    scale: 0.95;
}