* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
} 

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main {
  width: 100%;
  height: 100%;
}

.box{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

body:has(.box:hover) .box{
    scale: 0.8;
}

.box:hover{
    scale: 1.2 !important;
}

