@font-face {
    font-family: 'wukong';
    src: url(./SimplifiedChinese/SourceHanSerifSC-Heavy.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("Blackmyth\ Wukong\ wallpaper.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    font-family: 'wukong';
}
#main::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
  z-index: 1;
  user-select: none;
  
}

h1{
    font-size: 230px;
    font-weight: 900; /* Heavy */
    letter-spacing: 0.1rem;
    color: #f5f5f5;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.7);
    user-select: none;
}
.button-container {
    user-select: none;
    z-index: 10; /* Ensure buttons are above the overlay */
    text-align: center; /* Center the buttons horizontally */
    margin-top: -170px;  /* Move the buttons down, adjust as needed */
}

button {
  position: relative;
    margin: 0 380px;       /* Space between buttons */
    padding: 10px 100px;  /* Size of the buttons */
    font-size: 32px;
    border-radius: 60px;
    color: #ECF0F1;
    background-color: rgba(143, 155, 167, 0.6); /* Semi-transparent blue */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button:hover {
    background-color: rgb(240, 143, 24); /* Golden Ember on hover */
    color: #2C3E50;
    transform: scale(1.05);
}

.snowfall {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  /* z-index: 9; */
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1em;
  animation: fall linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}