* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.whiteKeys{
    display: flex;
    flex-direction: row;
    gap: 2px;
    position: relative;
}

.wk {
    width: 60px;
    height: 200px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* .blackKeys{
    display: flex;
    flex-direction: row;
    gap: 18px;
    position: absolute;
    bottom: 80px;
    left: 30px;
    z-index: 2;
}

.bk{
    width: 40px;
    height: 120px;
    background-color: black;
    position: relative;
    border-radius: 0 0 5px 5px;
    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
} */

.blackKeys {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
}

.bk {
  width: 40px;
  height: 120px;
  background-color: black;
  color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  z-index: 10;
}

.bk1 { left: 45px; }   /* between Q & W */
.bk2 { left: 107px; }  /* between W & E */
.bk3 { left: 169px; }  /* between E & R */
.bk4 { left: 285px; }  /* between R & T */
.bk5 { left: 347px; }

.wk:hover, .bk:hover {
    background: #3a7ac2;       /* darker blue */
    transform: translateY(-3px);  /* lift effect */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.wk.active, .bk.active {
    background: #3a7ac2;
    transform: translateY(-2px);  /* small press */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


