* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: rgb(71, 103, 140);
  padding: 20px;
  display: flex;
  gap: 20px;
}

.card{
    height: 400px;
    width: 300px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom{
    color: white;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -40%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(transparent, black);
    transition: all 0.7s ease;
    display: flex;
    padding: 10px;
}
.bottom h2:hover{
    color: rgb(213, 75, 98) ;
    cursor: pointer;
}


.bottom p{
    padding-top: 10px;
    font-size: 10px;
    width: 70%;   
}
.bottom i{
    color: rgb(213, 75, 98) ;
    top: 50%;
    right: 0px;
}

.card:hover .bottom{
    bottom: 0;
    
}

.hide {
  height: 100%;
  width: 100%;
  background-color: black;
}

.hide img, .hide button {
    opacity: 0;
    transition: all 1.5s ease;
}
.hide:hover img, .hide button{
  opacity: 1;
}

.spin {
  margin-top: 50px;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  overflow: hidden; 
}
.spin img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.spin .front, .spin .back {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  background: #222;
  color: white;
}

.back {
  background: #fff;
  transform: rotateY(180deg);
}

.spin:hover .front {
  transform: rotateY(180deg);
}

.spin:hover .back {
  transform: rotateY(360deg);
}
.spin:hover .bottom{
    bottom: 0;  
}
.spin .bottom{
    border-radius: 10px;
    transition: all 1.4s ease;
}


