* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #000000c2;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

button{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: teal;
  border: none;
  cursor: pointer
} 

.card{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.Male{
  background-color: blue;
}

.Female{
  background-color: pink;
}

.Other{
  background: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
}