* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
}

body{
    anchor-name: --some;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  z-index: 9;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

img{
    width: 100%;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateAnim {
    from{
        --rotate: 0deg
    }
    to{
        --rotate: 360deg
    }
    
}

.card{
    max-width: 350px;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-radius: 15px;
    animation: rotateAnim 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    
    border: 0px solid rgba(245, 245, 245, 0);
    text-shadow: 0px 0px 0px white;
    user-select: none;
    transition: all 0.3s linear;
    color: white;
}

.st{
    box-shadow: 0px 0px 0px red;
    background: linear-gradient(black) padding-box,
                conic-gradient(from var(--rotate), black,black,red,black) border-box;
}

.twd{
    box-shadow: 0px 0px 0px yellow;
    background: linear-gradient(black) padding-box,
                conic-gradient(from var(--rotate), black,black,yellow,black) border-box;
}

.tw{
    box-shadow: 0px 0px 0px rgb(0, 255, 0);
    background: linear-gradient(black) padding-box,
                conic-gradient(from var(--rotate), black,black,rgb(1, 255, 1),black) border-box;
}

.st:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0px 0px 50px red;
    color: rgb(183, 53, 53);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}

.twd:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0px 0px 50px yellow;
    color: rgb(216, 216, 21);
    text-shadow: 0px 0px 10px rgb(216, 216, 21);;
}

.tw:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0px 0px 50px rgb(0, 255, 0);
    color: rgb(21, 193, 21);
    text-shadow: 0px 0px 10px rgb(21, 193, 21);
}

.name{
    background-color: white;
    height: 40px;
    width: 180px;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
}

.names{
    background-color: white;
    /*height: 20px; */
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.name:hover, .names:hover{
    anchor-name: --some;
}

.anchor{
    position: absolute;
    background-color:white;
    /* height: 50px;
    width: 70px; */
    position-anchor: --some;
    left: anchor(left);
    top: anchor(top);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    mix-blend-mode: difference;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.05) !important;
}

body:has(.card:hover) .card{
    transform: scale(0.8);
}
